MVC/17-12-2015/Server_Client_Config/Client_Config/Service References/InventoryServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Inventory" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServerConfig.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventory_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="IInventory_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="IInventory_AddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_AddQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuantity" />
  </wsdl:message>
  <wsdl:message name="IInventory_AddQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_SubtractQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:SubtractQuantity" />
  </wsdl:message>
  <wsdl:message name="IInventory_SubtractQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IInventory_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_RemoveItem_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItem" />
  </wsdl:message>
  <wsdl:message name="IInventory_RemoveItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbAddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DbAddItem" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbAddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DbAddItemResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbAddQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:DbAddQuantity" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbAddQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DbAddQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbSubtractQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:DbSubtractQuantity" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbSubtractQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DbSubtractQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbGetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:DbGetItems" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbGetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:DbGetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbRemoveItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DbRemoveItem" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbRemoveItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DbRemoveItemResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbGetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DbGetItem" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbGetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DbGetItemResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbSaveItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DbSaveItem" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbSaveItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DbSaveItemResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbClearItems_InputMessage">
    <wsdl:part name="parameters" element="tns:DbClearItems" />
  </wsdl:message>
  <wsdl:message name="IInventory_DbClearItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:DbClearItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventory">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/GetMessage" message="tns:IInventory_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/GetMessageResponse" message="tns:IInventory_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/AddItem" message="tns:IInventory_AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/AddItemResponse" message="tns:IInventory_AddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/AddQuantity" message="tns:IInventory_AddQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/AddQuantityResponse" message="tns:IInventory_AddQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubtractQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/SubtractQuantity" message="tns:IInventory_SubtractQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/SubtractQuantityResponse" message="tns:IInventory_SubtractQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/GetItems" message="tns:IInventory_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/GetItemsResponse" message="tns:IInventory_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/RemoveItem" message="tns:IInventory_RemoveItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/RemoveItemResponse" message="tns:IInventory_RemoveItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DbAddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/DbAddItem" message="tns:IInventory_DbAddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/DbAddItemResponse" message="tns:IInventory_DbAddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DbAddQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/DbAddQuantity" message="tns:IInventory_DbAddQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/DbAddQuantityResponse" message="tns:IInventory_DbAddQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DbSubtractQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/DbSubtractQuantity" message="tns:IInventory_DbSubtractQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/DbSubtractQuantityResponse" message="tns:IInventory_DbSubtractQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DbGetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/DbGetItems" message="tns:IInventory_DbGetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/DbGetItemsResponse" message="tns:IInventory_DbGetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DbRemoveItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/DbRemoveItem" message="tns:IInventory_DbRemoveItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/DbRemoveItemResponse" message="tns:IInventory_DbRemoveItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DbGetItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/DbGetItem" message="tns:IInventory_DbGetItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/DbGetItemResponse" message="tns:IInventory_DbGetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DbSaveItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/DbSaveItem" message="tns:IInventory_DbSaveItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/DbSaveItemResponse" message="tns:IInventory_DbSaveItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DbClearItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/DbClearItems" message="tns:IInventory_DbClearItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/DbClearItemsResponse" message="tns:IInventory_DbClearItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventory" type="tns:IInventory">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/IInventory/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/IInventory/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddQuantity">
      <soap:operation soapAction="http://tempuri.org/IInventory/AddQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubtractQuantity">
      <soap:operation soapAction="http://tempuri.org/IInventory/SubtractQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IInventory/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <soap:operation soapAction="http://tempuri.org/IInventory/RemoveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DbAddItem">
      <soap:operation soapAction="http://tempuri.org/IInventory/DbAddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DbAddQuantity">
      <soap:operation soapAction="http://tempuri.org/IInventory/DbAddQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DbSubtractQuantity">
      <soap:operation soapAction="http://tempuri.org/IInventory/DbSubtractQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DbGetItems">
      <soap:operation soapAction="http://tempuri.org/IInventory/DbGetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DbRemoveItem">
      <soap:operation soapAction="http://tempuri.org/IInventory/DbRemoveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DbGetItem">
      <soap:operation soapAction="http://tempuri.org/IInventory/DbGetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DbSaveItem">
      <soap:operation soapAction="http://tempuri.org/IInventory/DbSaveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DbClearItems">
      <soap:operation soapAction="http://tempuri.org/IInventory/DbClearItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Inventory">
    <wsdl:port name="BasicHttpBinding_IInventory" binding="tns:BasicHttpBinding_IInventory">
      <soap:address location="http://localhost:950/Inventory/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>