MVC/17-12-2015/Server_Client_Config/Client_Config/Service References/InventoryServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServerConfig.Models" />
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtractQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerConfig.Models" minOccurs="0" name="GetItemsResult" nillable="true" type="q1:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DbAddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbAddItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DbAddItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbAddQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbAddQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DbAddQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbSubtractQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbSubtractQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DbSubtractQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbGetItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DbGetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerConfig.Models" minOccurs="0" name="DbGetItemsResult" nillable="true" type="q2:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbRemoveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbRemoveItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DbGetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbGetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerConfig.Models" minOccurs="0" name="DbGetItemResult" nillable="true" type="q3:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbSaveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerConfig.Models" minOccurs="0" name="newItem" nillable="true" type="q4:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbSaveItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DbClearItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DbClearItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>