MVC/24-12-2015/Ex2_BirthDay_TwoInterfaces/Client/Service References/Birth/BirthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BirthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/BirthService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/BirthService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleBirthService_GetAgeSimple_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgeSimple" />
  </wsdl:message>
  <wsdl:message name="ISimpleBirthService_GetAgeSimple_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgeSimpleResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleBirthService_GetDifferenceSimple_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDifferenceSimple" />
  </wsdl:message>
  <wsdl:message name="ISimpleBirthService_GetDifferenceSimple_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDifferenceSimpleResponse" />
  </wsdl:message>
  <wsdl:message name="IExactBirthService_GetAgeExact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgeExact" />
  </wsdl:message>
  <wsdl:message name="IExactBirthService_GetAgeExact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgeExactResponse" />
  </wsdl:message>
  <wsdl:message name="IExactBirthService_GetDifferenceExact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDifferenceExact" />
  </wsdl:message>
  <wsdl:message name="IExactBirthService_GetDifferenceExact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDifferenceExactResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleBirthService">
    <wsdl:operation name="GetAgeSimple">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleBirthService/GetAgeSimple" message="tns:ISimpleBirthService_GetAgeSimple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleBirthService/GetAgeSimpleResponse" message="tns:ISimpleBirthService_GetAgeSimple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDifferenceSimple">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleBirthService/GetDifferenceSimple" message="tns:ISimpleBirthService_GetDifferenceSimple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleBirthService/GetDifferenceSimpleResponse" message="tns:ISimpleBirthService_GetDifferenceSimple_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IExactBirthService">
    <wsdl:operation name="GetAgeExact">
      <wsdl:input wsaw:Action="http://tempuri.org/IExactBirthService/GetAgeExact" message="tns:IExactBirthService_GetAgeExact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExactBirthService/GetAgeExactResponse" message="tns:IExactBirthService_GetAgeExact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDifferenceExact">
      <wsdl:input wsaw:Action="http://tempuri.org/IExactBirthService/GetDifferenceExact" message="tns:IExactBirthService_GetDifferenceExact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExactBirthService/GetDifferenceExactResponse" message="tns:IExactBirthService_GetDifferenceExact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISimpleBirthService" type="tns:ISimpleBirthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgeSimple">
      <soap:operation soapAction="http://tempuri.org/ISimpleBirthService/GetAgeSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDifferenceSimple">
      <soap:operation soapAction="http://tempuri.org/ISimpleBirthService/GetDifferenceSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IExactBirthService" type="tns:IExactBirthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgeExact">
      <soap:operation soapAction="http://tempuri.org/IExactBirthService/GetAgeExact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDifferenceExact">
      <soap:operation soapAction="http://tempuri.org/IExactBirthService/GetDifferenceExact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BirthService">
    <wsdl:port name="BasicHttpBinding_ISimpleBirthService" binding="tns:BasicHttpBinding_ISimpleBirthService">
      <soap:address location="http://localhost:8733/BirthService/Simple" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IExactBirthService" binding="tns:BasicHttpBinding_IExactBirthService">
      <soap:address location="http://localhost:8733/BirthService/Exact" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>