MVC/24-12-2015/Ex2_BirthDay_TwoInterfaces/Client/Service References/Birth/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAgeSimple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgeSimpleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAgeSimpleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDifferenceSimple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" type="xs:dateTime" />
        <xs:element minOccurs="0" name="second" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDifferenceSimpleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDifferenceSimpleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgeExact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgeExactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAgeExactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDifferenceExact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" type="xs:dateTime" />
        <xs:element minOccurs="0" name="second" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDifferenceExactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDifferenceExactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>