MVC/21-12-2015/WcfProblems/Client/Service References/Data/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/DataService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/DataService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/DataService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_Swap_InputMessage">
    <wsdl:part name="parameters" element="tns:Swap" />
  </wsdl:message>
  <wsdl:message name="IDataService_Swap_OutputMessage">
    <wsdl:part name="parameters" element="tns:SwapResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAllMembers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMembers" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetAllMembers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMembersResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetPerson" message="tns:IDataService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetPersonResponse" message="tns:IDataService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Swap">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/Swap" message="tns:IDataService_Swap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SwapResponse" message="tns:IDataService_Swap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMembers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetAllMembers" message="tns:IDataService_GetAllMembers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetAllMembersResponse" message="tns:IDataService_GetAllMembers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Swap">
      <soap:operation soapAction="http://tempuri.org/IDataService/Swap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMembers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetAllMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:8733/DataService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>