MVC/15-12-21 Get Put/Ex1_Products/Client/Service References/StockService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IStockService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IStockService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_AddAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAmount" />
  </wsdl:message>
  <wsdl:message name="IStockService_AddAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_SubAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:SubAmount" />
  </wsdl:message>
  <wsdl:message name="IStockService_SubAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IStockService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_RenameProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameProduct" />
  </wsdl:message>
  <wsdl:message name="IStockService_RenameProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameProductResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_ZeroAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ZeroAllProducts" />
  </wsdl:message>
  <wsdl:message name="IStockService_ZeroAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ZeroAllProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/GetAllProducts" message="tns:IStockService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/GetAllProductsResponse" message="tns:IStockService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/AddProduct" message="tns:IStockService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/AddProductResponse" message="tns:IStockService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/AddAmount" message="tns:IStockService_AddAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/AddAmountResponse" message="tns:IStockService_AddAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/SubAmount" message="tns:IStockService_SubAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/SubAmountResponse" message="tns:IStockService_SubAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/DeleteProduct" message="tns:IStockService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/DeleteProductResponse" message="tns:IStockService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/RenameProduct" message="tns:IStockService_RenameProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/RenameProductResponse" message="tns:IStockService_RenameProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ZeroAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/ZeroAllProducts" message="tns:IStockService_ZeroAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/ZeroAllProductsResponse" message="tns:IStockService_ZeroAllProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockService" type="tns:IStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IStockService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IStockService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmount">
      <soap:operation soapAction="http://tempuri.org/IStockService/AddAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubAmount">
      <soap:operation soapAction="http://tempuri.org/IStockService/SubAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IStockService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameProduct">
      <soap:operation soapAction="http://tempuri.org/IStockService/RenameProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZeroAllProducts">
      <soap:operation soapAction="http://tempuri.org/IStockService/ZeroAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="BasicHttpBinding_IStockService" binding="tns:BasicHttpBinding_IStockService">
      <soap:address location="http://localhost:923/ProdSvc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>