WCF/15-12-24 WCF/Ex1_BirthDay_MultipleEndPoints/Client/Service References/SimpleService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAgeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDifference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" type="xs:dateTime" />
        <xs:element minOccurs="0" name="second" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDifferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDifferenceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>