MVC/24-12-2015/Ex1_BirthDay_MultipleEndPoints/Client/Service References/ExactService/ExactBirthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExactBirthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/ExactBirthService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/ExactBirthService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBirthService_GetAge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAge" />
  </wsdl:message>
  <wsdl:message name="IBirthService_GetAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IBirthService_GetDifference_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDifference" />
  </wsdl:message>
  <wsdl:message name="IBirthService_GetDifference_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDifferenceResponse" />
  </wsdl:message>
  <wsdl:portType name="IBirthService">
    <wsdl:operation name="GetAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IBirthService/GetAge" message="tns:IBirthService_GetAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBirthService/GetAgeResponse" message="tns:IBirthService_GetAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDifference">
      <wsdl:input wsaw:Action="http://tempuri.org/IBirthService/GetDifference" message="tns:IBirthService_GetDifference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBirthService/GetDifferenceResponse" message="tns:IBirthService_GetDifference_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBirthService" type="tns:IBirthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAge">
      <soap:operation soapAction="http://tempuri.org/IBirthService/GetAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDifference">
      <soap:operation soapAction="http://tempuri.org/IBirthService/GetDifference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExactBirthService">
    <wsdl:port name="BasicHttpBinding_IBirthService" binding="tns:BasicHttpBinding_IBirthService">
      <soap:address location="http://localhost:8733/ExactBirthService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>