WCF/15-12-17 WCF/Ex1_Products/Backup/Client/Service References/StockService/StockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:924/ProdSvc/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:924/ProdSvc/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:924/ProdSvc/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StockService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="StockService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="StockService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="StockService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="StockService_AddAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAmount" />
  </wsdl:message>
  <wsdl:message name="StockService_AddAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAmountResponse" />
  </wsdl:message>
  <wsdl:message name="StockService_SubAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:SubAmount" />
  </wsdl:message>
  <wsdl:message name="StockService_SubAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubAmountResponse" />
  </wsdl:message>
  <wsdl:portType name="StockService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/StockService/GetAllProducts" message="tns:StockService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/StockService/GetAllProductsResponse" message="tns:StockService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/StockService/AddProduct" message="tns:StockService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/StockService/AddProductResponse" message="tns:StockService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/StockService/AddAmount" message="tns:StockService_AddAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/StockService/AddAmountResponse" message="tns:StockService_AddAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubAmount">
      <wsdl:input wsaw:Action="http://tempuri.org/StockService/SubAmount" message="tns:StockService_SubAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/StockService/SubAmountResponse" message="tns:StockService_SubAmount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_StockService" type="tns:StockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/StockService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/StockService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAmount">
      <soap:operation soapAction="http://tempuri.org/StockService/AddAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubAmount">
      <soap:operation soapAction="http://tempuri.org/StockService/SubAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="BasicHttpBinding_StockService" binding="tns:BasicHttpBinding_StockService">
      <soap:address location="http://localhost:923/ProdSvc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>