MVC/21-12-2015/DateSpan/ConsoleApplication2/Service References/ServiceReference1/ImpreciseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImpreciseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2001/ImpreciseService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2001/ImpreciseService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImpreciseService_GetAge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAge" />
  </wsdl:message>
  <wsdl:message name="IImpreciseService_GetAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IImpreciseService_AgeDifference_InputMessage">
    <wsdl:part name="parameters" element="tns:AgeDifference" />
  </wsdl:message>
  <wsdl:message name="IImpreciseService_AgeDifference_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgeDifferenceResponse" />
  </wsdl:message>
  <wsdl:portType name="IImpreciseService">
    <wsdl:operation name="GetAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpreciseService/GetAge" message="tns:IImpreciseService_GetAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpreciseService/GetAgeResponse" message="tns:IImpreciseService_GetAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgeDifference">
      <wsdl:input wsaw:Action="http://tempuri.org/IImpreciseService/AgeDifference" message="tns:IImpreciseService_AgeDifference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImpreciseService/AgeDifferenceResponse" message="tns:IImpreciseService_AgeDifference_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImpreciseService" type="tns:IImpreciseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAge">
      <soap:operation soapAction="http://tempuri.org/IImpreciseService/GetAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgeDifference">
      <soap:operation soapAction="http://tempuri.org/IImpreciseService/AgeDifference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpreciseService">
    <wsdl:port name="BasicHttpBinding_IImpreciseService" binding="tns:BasicHttpBinding_IImpreciseService">
      <soap:address location="http://localhost:2001/ImpreciseService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>