MVC/X/Wcf_EI_Polymorphism/Wcf_EI_Polymorphism_Client/Service References/PersonReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Wcf_EI_Polymorphism_Server.Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Wcf_EI_Polymorphism_Server" />
  <xs:element name="GetAllPersons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf_EI_Polymorphism_Server.Model" minOccurs="0" name="GetAllPersonsResult" nillable="true" type="q1:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf_EI_Polymorphism_Server" minOccurs="0" name="pType" type="q2:Global.PersonType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Display">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcf_EI_Polymorphism_Server.Model" minOccurs="0" name="p" nillable="true" type="q3:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisplayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>